Options -Indexes

AddEncoding x-gzip .gz

RewriteEngine on

#RewriteCond %{HTTP:Accept-Encoding} !gzip
#RewriteCond %{REQUEST_FILENAME}.gz -s
#RewriteRule ^(.+) $1 [L]

RewriteCond %{REQUEST_FILENAME}.gz -s
RewriteRule ^(.+) $1.gz [L]

RewriteRule \.gz$ - [T=application/octet-stream]
