* {
	box-sizing: border-box;
	font-family: "Segoe UI",Arial,Helvetica,sans-serif;
}
html,
body
{
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;
	background-color: #000000;
}
body {
	display: flex;
	flex-flow: column;
}
.map {
  	flex: 1 1 auto;
}
.leaflet-control-zoom:first-child {
	display: none;
}
.leaflet-control-fullscreen,
.leaflet-control-layers,
.leaflet-control-search,
.leaflet-control-locate,
.leaflet-control-filelayer,
.leaflet-control-measure
{
	background-color: #fff !important;
	border: 1px solid rgba(0,0,0,0.4) !important;
	border-radius: 5px !important;
}
.leaflet-control-fullscreen:hover,
.leaflet-control-search:hover,
.leaflet-control-locate:hover,
.leaflet-control-filelayer:hover,
.leaflet-control-measure:hover
{
	background-color: #f4f4f4 !important;
}
.leaflet-control-fullscreen a,
.leaflet-control-layers a,
.leaflet-control-search > a,
.leaflet-control-locate a,
.leaflet-control-filelayer a,
.leaflet-control-measure a
{
	background-color: unset !important;
	width: 30px !important;
	height: 30px !important;
}
.leaflet-control-fullscreen a:hover,
.leaflet-control-layers a:hover,
.leaflet-control-search > a:hover,
.leaflet-control-locate a:hover,
.leaflet-control-filelayer a:hover,
.leaflet-control-measure a:hover
{
	background-color: unset !important;
}
/* layers control ********************************/
.leaflet-control-layers-toggle {
	background-size: 20px 20px;
}
.leaflet-control-layers-list {
	user-select: none;
}
/* search control ********************************/
.leaflet-control-search {
	position: relative;
	float: left;
	color: #1978cf;
	z-index: 1000;
	margin-left: 10px;
	margin-top: 10px;
}
.leaflet-control-search.search-exp {/*expanded*/
	box-shadow: 0 1px 7px #999;
	background: #fff;
}
.leaflet-control-search .search-input {
	display: block;
	float: left;
	background: #fff;
	border: 1px solid #666;
	border-radius: 2px;
	height: 20px;
	padding: 0 18px 0 2px;
	margin: 4px 0 4px 4px;
	width: 150px;
}
.leaflet-control-search .search-button,
.leaflet-control-search .search-button:hover
{
	display: block;
	float:left;
	background: url('leaflet/images/search-icon.png') no-repeat 5px 5px;
}
/* locate control ********************************/
.leaflet-bar-part-single {
	border-radius: 4px;
	border-bottom: none;
}
.leaflet-touch .leaflet-bar-part-single {
	border-radius: 7px;
	border-bottom: none;
}
.leaflet-control-locate a {
	background-image: url('leaflet/images/locate.png');
}
.leaflet-control-locate.requesting a {
	background-image: url('leaflet/images/spinner.gif');
}
.leaflet-control-locate.active a {
	background-image: url('leaflet/images/locate_active.png');
}
/* scale control ********************************/
.leaflet-control-scale-line {
	user-select: none;
}
.leaflet-control-scale-line:nth-child(2) {
	display: none;
}
.heading-road::before,
.heading-sat::before,
.leaflet-control-layers-overlays::before
 {
 	font-size: 12px;
	font-weight: bold;
	display: block;
	padding: 8px 0 2px 5px;
}
.heading-road::before {
	content: 'Maps';
	padding-top: 0px;
}
.heading-sat::before {
	content: 'Satellite';
}
.leaflet-control-layers-separator {
	display: none;
}
.leaflet-control-layers-overlays::before {
	content: 'Overlays';
}
.sidepanel {
	font-size: 12px;
	position: absolute;
	top: 10px;
	right: 10px;
	width: 220px;
	background-color: rgba(255,255,255,0.9);
	border: 1px solid rgba(0,0,0,0.4) !important;
	border-radius: 4px;
	z-index: 1000;
	padding-bottom: 4px;
	display: none;
}
.sidepanel .heading {
	font-size: 12px;
	font-weight: bold;
	padding: 6px 0 2px 5px;
}
.sidepanel ul {
	list-style: none;
	padding: 0;
	margin: 0;
	max-height: calc(100vh - 65px);
	overflow-y: auto;
}
.sidepanel li {
	position: relative;
	cursor: pointer;
	height: 16px;
	margin: 5px 0px;
	padding: 0 10px;
}
.sidepanel li:hover {
	background: #ddd;
}
.sidepanel img {
	max-width: 32px;
	height: 16px;
}
.sidepanel span {
	display: inline-block;
	position: absolute;
	left: 45px;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
	text-align: left;
	max-width: calc(100% - 50px);
	line-height: 15px;
}
.streetview-container {
	flex: 0 1 auto;
	height: 67%;
	display: none;
	cursor: ns-resize;
}
.streetview-container iframe {
	box-sizing: border-box;
	border: none;
	display: block;
	width: 100%;
	height: calc(100% - 5px);
}
.streetview-container .resizer {
	height: 5px;
}
.streetview-container .resizer:hover {
	background-color: #333;
}
.streetview-container {
  	flex: 0 1 auto;
}
.streetview-close {
	position: absolute;
	top: 5px;
	right: 5px;
	z-index: 9999;
	text-align: center;
	box-sizing: border-box;
	cursor: pointer;
	display: none;
	padding: 1px;
}
.streetview-close:after{
	display: inline-block;
	content: "\00d7";
	font-size: 30px;
	line-height: 0;
	vertical-align: middle;
	color: white;
	font-weight: bold;
	text-shadow: -1px -1px 0 #333, 1px -1px 0 #333, -1px 1px 0 #333, 1px 1px 0 #333;
}
.map.streetview {
	cursor: pointer;
}
img[src*="Roadmap!"] {
	display: none !important;
}
.leaflet-routing-collapse-btn {
	right: 5px;
	color: #000;
	cursor: pointer;
	line-height: 26px;
}
.leaflet-routing-container .header {
	padding-left: 5px;
	padding-bottom: 4px;
	border-bottom: 1px solid #888;
}
.leaflet-routing-container .header label {
	margin-right: 10px;
	user-select: none;
	cursor: pointer;
}
.leaflet-routing-container .header input {
	vertical-align: text-bottom;
}
.leaflet-routing-reverse-waypoints {
	padding: 0 4px;
	font-size: 12px;
	line-height: 12px;
	margin-left: 5px;
}
iframe.wmt {
	border: none;
    position: absolute;
    width: 320px;
    height: 100%;
    display: none;
    z-index: 9998;
}
button.wmt {
    position: absolute;
	left: 284px;
	top: 60px;
	width: 36px;
	height: 38px;
    background: none;
    border: none;
    color: #000;
    display: none;
    cursor: pointer;
    z-index: 9999;
}
